# Problem 1

## Create a Pandas DF by reading the 'block_9.csv' file

In [1]:
import pandas as pd
df = pd.read_csv('block_9_data.csv')

## Create a new DF which reports the sum of reviews by year

In [8]:
gr = df.groupby('review_year')

In [4]:
df.loc[:,'w'] = 1

In [9]:
df_y = pd.DataFrame(gr['w'].aggregate(np.sum))
df_y

                 w
review_year
2000             1
2003             1
2004            11
2005            37
2006           598
2007          1826
2008          5330
2009          8417
2010          8443
2011         20059
2012         25235
2013         51899
2014         29397

## Create a new DF which reports the sum of reviews by month and year

In [12]:
gr = df.groupby(['review_year','review_month'], as_index = False)

In [13]:
df_y_m = gr['w'].aggregate(np.sum)
df_y_m

     review_year  review_month     w
0           2000             8     1
1           2003            11     1
2           2004             1     1
3           2004             2     1
4           2004             4     2
..           ...           ...   ...
117         2014             3  4533
118         2014             4  4201
119         2014             5  4325
120         2014             6  3954
121         2014             7  2785

[122 rows x 3 columns]

## Create a new DF which reports the mean and standard deviation in the number of  reviews by month

In [18]:
gr = df_y_m.groupby('review_month')

In [19]:
df_m = gr['w'].aggregate([np.mean, np.std])
df_m

                     mean          std
review_month
1             1313.545455  1855.999211
2             1239.272727  1601.011873
3             1637.200000  1763.809186
4             1390.272727  1654.168256
5             1407.800000  1573.909555
6             1404.222222  1431.794135
7             1207.800000  1338.365736
8             1007.400000  1434.462129
9              983.777778  1200.358048
10             999.800000  1423.407477
11            1032.181818  1491.544020
12            1243.400000  1734.728618

# Problem 2

## Create a Pandas DF by reading the 'block_9.csv' file

In [21]:
import pandas as pd
df = pd.read_csv('block_9_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151254 entries, 0 to 151253
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp       151254 non-null  object
 1   asin            151254 non-null  object
 2   helpful         151254 non-null  object
 3   overall         151254 non-null  float64
 4   reviewText      151232 non-null  object
 5   reviewTime      151254 non-null  object
 6   reviewerID      151254 non-null  object
 7   reviewerName    149761 non-null  object
 8   summary         151254 non-null  object
 9   unixReviewTime  151254 non-null  int64
 10  review_year     151254 non-null  int64
 11  review_month    151254 non-null  int64
 12  review_day      151254 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 15.0+ MB

## Create a new column reporting the length of the text of the review

In [22]:
df.loc[:,'len'] = df['reviewText'].str.len()

In [23]:
df.head(2).T

,0,1
timestamp,2013-06-01,2014-05-19
asin,616719923X,616719923X
helpful,"[0, 0]","[0, 1]"
overall,4,3
reviewText,Just another flavor of Kit Kat but the taste i...,I bought this on impulse and it comes from Jap...
reviewTime,"06 1, 2013","05 19, 2014"
reviewerID,A1VEELTKS8NLZB,A14R9XMZVJ6INB
reviewerName,Amazon Customer,amf0001
summary,Good Taste,"3.5 stars, sadly not as wonderful as I had hoped"
unixReviewTime,1370044800,1400457600
review_year,2013,2014
review_month,6,5
review_day,1,19
len,162,583

## Create a new column in DF that expresses the standardized length of the product review (z-score) by year

In [24]:
gr = df.groupby('review_year')

In [26]:
df.loc[:,'average'] = gr['len'].transform(np.mean)
df.loc[:,'std'] = gr['len'].transform(np.std)

In [27]:
df.head(2).T

,0,1
timestamp,2013-06-01,2014-05-19
asin,616719923X,616719923X
helpful,"[0, 0]","[0, 1]"
overall,4,3
reviewText,Just another flavor of Kit Kat but the taste i...,I bought this on impulse and it comes from Jap...
reviewTime,"06 1, 2013","05 19, 2014"
reviewerID,A1VEELTKS8NLZB,A14R9XMZVJ6INB
reviewerName,Amazon Customer,amf0001
summary,Good Taste,"3.5 stars, sadly not as wonderful as I had hoped"
unixReviewTime,1370044800,1400457600
review_year,2013,2014
review_month,6,5
review_day,1,19
len,162,583
average,454.235,393.07
std,493.621,435.198

In [28]:
df.loc[:,'len_z_scores'] = (df['len'] - df['average']) / df['std']

In [29]:
df.head(2).T

,0,1
timestamp,2013-06-01,2014-05-19
asin,616719923X,616719923X
helpful,"[0, 0]","[0, 1]"
overall,4,3
reviewText,Just another flavor of Kit Kat but the taste i...,I bought this on impulse and it comes from Jap...
reviewTime,"06 1, 2013","05 19, 2014"
reviewerID,A1VEELTKS8NLZB,A14R9XMZVJ6INB
reviewerName,Amazon Customer,amf0001
summary,Good Taste,"3.5 stars, sadly not as wonderful as I had hoped"
unixReviewTime,1370044800,1400457600
review_year,2013,2014
review_month,6,5
review_day,1,19
len,162,583
average,454.235,393.07
std,493.621,435.198
len_z_scores,-0.592022,0.436423

## Regress 'overall' on the newly created column (via OLS)

## Make at least two Matplotlib plots showing the variability in the length of the review

# Reading and concatenating multiple data files

In [ ]:
import os
# list of target files
in_flies = glob.glob(os.path.join('.', 'block_9*.cvs))

In [ ]:
# generator
read_stuff = (pd.read_csv(file) for file in in_files)

In [ ]:
add_data = pd.concat(read_stuff)